@page "/shopping-list"

@using Shopper.Core.Components.Dtos
@using Shopper.Services.Components.Dtos
@using Shopper.Services.Components.State
@inject IItemsService itemsService
<h1>SelectedList</h1>
<div>
    <h2>Choose a list:</h2>
    <div>
        <label><input type="radio" name="listSelection" value="Actual_List" checked="@IsSelected("Actual_List")" @onchange="OnSelectionChanged" /> Aktualna lista</label>
    <label><input type="radio" name="listSelection" value="Kuzyni" checked="@IsSelected("Kuzyni")" @onchange="OnSelectionChanged" /> Kuzyni</label>
    <label><input type="radio" name="listSelection" value="Nabial" checked="@IsSelected("Nabial")" @onchange="OnSelectionChanged" /> Nabial</label>
    <label><input type="radio" name="listSelection" value="Koszyk" checked="@IsSelected("Koszyk")" @onchange="OnSelectionChanged" /> Koszyk</label>
    </div>
    <p>SelectedList: '@selectedList'</p>
</div>


@if (selectedList == "Actual_List")
{
    <ul>
        @foreach (var group in items.Where(g => g.InCart == false))
        {
            @foreach (var item in group.Items)
            {
                <li>
                    <span>Nazwa: @item.Name</span>
                    <span> Rodzaj: @item.Genre</span>
                    <button @onclick="() => SubmitItem(item)">Move to cart</button>
                    <button @onclick="() => RemoveItem(item)">Remove item</button>
                </li>
            }
        }
    </ul>
}
else if (selectedList == "Kuzyni")
{
    <ul>
        <li>Dog</li>
        <li>Cat</li>
        <li>Elephant</li>
    </ul>
}
else if (selectedList == "Nabial")
{
    <ul>
        <li>Red</li>
        <li>Blue</li>
        <li>Green</li>
    </ul>
}
else if (selectedList == "Koszyk")
{
    <ul>
        @foreach (var group in items.Where(g => g.InCart == true))
        {
            @foreach (var kvp in group.Items)
            {
                <li>
                    <span>Nazwa: @kvp.Name</span>
                    <span> Rodzaj: @kvp.Genre</span>
                    <button @onclick="() => MoveItemFromCart(kvp)">Move from cart</button>
                    <button @onclick="() => RemoveItem(kvp)">Remove item</button>

                </li>
            }
        }
    </ul>
}

@code {
    protected string selectedList = "Actual_List";
    protected List<ItemGroupDto> items = new();

    protected override async Task OnInitializedAsync()
    {
        selectedList = itemsService.GetSelectedList();
        itemsService.OnItemsChanged += HandleItemsChanged;
        items = await itemsService.RefreshItemsAsync();
    }

    private void HandleItemsChanged()
    {
        items = itemsService.GetCachedItems();
        InvokeAsync(StateHasChanged);
    }

    private async Task SubmitItem(ItemDto item)
    {
        await itemsService.MoveToCartAsync(item);
    }

    private async Task RemoveItem(ItemDto item)
    {
        await itemsService.RemoveItemAsync(item);
    }

    private async Task MoveItemFromCart(ItemDto item)
    {
        await itemsService.MoveToCartAsync(item);
    }

    public void Dispose()
    {
        itemsService.OnItemsChanged -= HandleItemsChanged;
    }

    private bool IsSelected(string value) => selectedList == value;

    private void OnSelectionChanged(ChangeEventArgs e)
    {
        selectedList = e.Value?.ToString() ?? "Actual_List";
        itemsService.SetSelectedList(selectedList);
    }
}
