@page "/shopping-list"

@using Shopper.Core.Components.Dtos
@using Shopper.Services.Components.Dtos
@using Shopper.Services.Components.State
@inject IItemsService itemsService
<h1>SelectedList</h1>
<div>
    <h2>Choose a list:</h2>
    <div>
        <label><input type="radio" name="listSelection" value="Actual_List" checked="@IsSelected("Actual_List")" @onchange="OnSelectionChanged" /> Aktualna lista</label>
    <label><input type="radio" name="listSelection" value="Kuzyni" checked="@IsSelected("Kuzyni")" @onchange="OnSelectionChanged" /> Kuzyni</label>
    <label><input type="radio" name="listSelection" value="Nabial" checked="@IsSelected("Nabial")" @onchange="OnSelectionChanged" /> Nabial</label>
    <label><input type="radio" name="listSelection" value="Koszyk" checked="@IsSelected("Koszyk")" @onchange="OnSelectionChanged" /> Koszyk</label>
    </div>
    <p>SelectedList: '@selectedList'</p>
</div>


@if (selectedList == "Actual_List")
{
    <ul>
        @foreach (var group in items.Where(g => g.InCart == false))
        {
            @foreach (var kvp in group.Items)
            {
                <li>
                    <span>Nazwa: @kvp.Key.Name</span>
                    <span> Rodzaj: @kvp.Key.Genre</span>
                    <span> Ilosc: @kvp.Value</span>
                    <button @onclick="() => SubmitItem(kvp.Key, kvp.Value)">remove item</button>
                </li>
            }
        }
    </ul>
}
else if (selectedList == "Kuzyni")
{
    <ul>
        <li>Dog</li>
        <li>Cat</li>
        <li>Elephant</li>
    </ul>
}
else if (selectedList == "Nabial")
{
    <ul>
        <li>Red</li>
        <li>Blue</li>
        <li>Green</li>
    </ul>
}
else if (selectedList == "Koszyk")
{
    <ul>
        @foreach (var group in items.Where(g => g.InCart == true))
        {
            @foreach (var kvp in group.Items)
            {
                <li>
                    <span>Nazwa: @kvp.Key.Name</span>
                    <span> Rodzaj: @kvp.Key.Genre</span>
                    <span> Ilosc: @kvp.Value</span>
                </li>
            }
        }
    </ul>
}

@code {

    protected string selectedList = "Actual_List";
    protected List<ItemGroupDto> items = new();
    protected Dictionary<ItemDto, int> itemsInCart = new();

    protected override async Task OnInitializedAsync()
    {
        this.selectedList = itemsService.GetSelectedList();
        this.items = await itemsService.GetItems();
    }

    private void OnSelectionChanged(ChangeEventArgs e)
    {
        selectedList = e.Value?.ToString() ?? "Actual_List";
        itemsService.SetSelectedList(selectedList);
    }

    private bool IsSelected(string value)
    {
        return selectedList == value;
    }

    private void SubmitItem(ItemDto item, int itemCount)
    {
        itemsService.SubmitItemAsync(item, itemCount);
    }


}
