@page "/shopping-list"

@using Shopper.Services.Components.Dtos
@using Shopper.Services.Components.State
@inject IItemsService itemsService
<h1>SelectedList</h1>
<div>
    <h2>Choose a list:</h2>
    <div>
        <label><input type="radio" name="listSelection" value="Actual_List" checked="@IsSelected("Actual_List")" @onchange="OnSelectionChanged" /> Aktualna lista</label>
    <label><input type="radio" name="listSelection" value="Kuzyni" checked="@IsSelected("Kuzyni")" @onchange="OnSelectionChanged" /> Kuzyni</label>
    <label><input type="radio" name="listSelection" value="Nabial" checked="@IsSelected("Nabial")" @onchange="OnSelectionChanged" /> Nabial</label>
    <label><input type="radio" name="listSelection" value="Koszyk" checked="@IsSelected("Koszyk")" @onchange="OnSelectionChanged" /> Koszyk</label>
    </div>
    <p>SelectedList: '@selectedList'</p>
</div>


@if (selectedList == "Actual_List")
{
    <ul>
        @foreach (var item in items)
        {

            <li>
                <span>Nazwa: @item.Key.Name</span><span>Genre: @item.Key.Genre</span><span>Amount: @item.Value</span>
                <button @onclick="() => SubmitItem(item.Key,item.Value)">remove item</button>
            </li>
        }

    </ul>
}
else if (selectedList == "Kuzyni")
{
    <ul>
        <li>Dog</li>
        <li>Cat</li>
        <li>Elephant</li>
    </ul>
}
else if (selectedList == "Nabial")
{
    <ul>
        <li>Red</li>
        <li>Blue</li>
        <li>Green</li>
    </ul>
}
else if (selectedList == "Koszyk")
{
    <ul>
        @foreach (var item in itemsInCart)
        {

            <li>
                <span>Nazwa: @item.Key.Name</span><span>Genre: @item.Key.Genre</span><span>Amount: @item.Value</span>
@*                 <button @onclick="() => SubmitItem(item.Key,item.Value)">remove item</button>
 *@            </li>
        }

    </ul>
}

@code {

    protected string selectedList = "Actual_List";
    protected Dictionary<ItemDto, int> items = new();
    protected Dictionary<ItemDto, int> itemsInCart = new();

    protected override void OnInitialized()
    {
        this.selectedList = itemsService.GetSelectedList();
        this.items = itemsService.GetItems();
        this.itemsInCart = itemsService.GetItemsInCart();

    }

    private void OnSelectionChanged(ChangeEventArgs e)
    {
        selectedList = e.Value?.ToString() ?? "Actual_List";
        itemsService.SetSelectedList(selectedList);
    }

    private bool IsSelected(string value)
    {
        return selectedList == value;
    }

    private void SubmitItem(ItemDto item, int itemCount)
    {
        itemsService.SubmitItemAsync(item, itemCount);
    }


}
