@page "/shopping-list"
@using Shopper.Components.Entity
@using Shopper.Components.State
@inject IItemsService itemsService
@inject ShoppingState state
<h1>@state.SelectedList</h1>
<div>
    <h2>Choose a list:</h2>
    <div>
        <label><input type="radio" name="listSelection" value="Actual_List" checked="@IsSelected("Actual_List")" @onchange="OnSelectionChanged" /> Aktualna lista</label>
    <label><input type="radio" name="listSelection" value="Kuzyni" checked="@IsSelected("Kuzyni")" @onchange="OnSelectionChanged" /> Kuzyni</label>
    <label><input type="radio" name="listSelection" value="Nabial" checked="@IsSelected("Nabial")" @onchange="OnSelectionChanged" /> Nabial</label>
    <label><input type="radio" name="listSelection" value="Koszyk" checked="@IsSelected("Koszyk")" @onchange="OnSelectionChanged" /> Koszyk</label>
    </div>
    <p>SelectedList: '@state.SelectedList'</p>
</div>

@if (state.SelectedList == "Actual_List")
{
    <ul>
        @foreach (var item in state.Items)
        {

            <li>
                <span>Nazwa: @item.Key.Name</span><span>Genre: @item.Key.Genre</span><span>Amount: @item.Value</span>
                <button @onclick="() => SubmitItem(item.Key,item.Value)">remove item</button>
            </li>
        }

    </ul>
}
else if (state.SelectedList == "Kuzyni")
{
    <ul>
        <li>Dog</li>
        <li>Cat</li>
        <li>Elephant</li>
    </ul>
}
else if (state.SelectedList == "Nabial")
{
    <ul>
        <li>Red</li>
        <li>Blue</li>
        <li>Green</li>
    </ul>
}
else if (state.SelectedList == "Koszyk")
{
    <ul>
        @foreach (var item in state.ItemsInCart)
        {

            <li>
                <span>Nazwa: @item.Key.Name</span><span>Genre: @item.Key.Genre</span><span>Amount: @item.Value</span>
@*                 <button @onclick="() => SubmitItem(item.Key,item.Value)">remove item</button>
 *@            </li>
        }

    </ul>
}

@code {

    protected override void OnInitialized()
    {
        state.OnChange += StateHasChanged;
    }

    private void OnSelectionChanged(ChangeEventArgs e)
    {
        state.SetSelectedList(e.Value?.ToString() ?? "Actual_List");
    }

    private bool IsSelected(string value)
    {
        return state.SelectedList == value;
    }

    private void SubmitItem(ItemDto item, int itemCount)
    {
        itemsService.SubmitItem(item, itemCount);

    }


}
